{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <title>Kirish</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    {% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <div class="container">
    <div class="login-box">
      <div class="left-side">
        <h2>Xush kelibsiz!</h2>
        <form method="POST" action="{% url 'get-login' %}">
          {% csrf_token %}
          <div class="input-box">
            <span class="icon">📧</span>
            <input type="email" name="email" placeholder="Email" required>
          </div>
          <div class="input-box">
            <span class="icon">🔒</span>
            <input type="password" name="password" placeholder="Parol" required>
          </div>
          <a href="{% url "forgot-password" %}" class="forgot">Parolni unutdingizmi?</a>
          <button type="submit" class="login-btn">Kirish</button>
        </form>
        <p class="register">Hisob yo‘qmi? <a href="{% url 'get-sign' %}">Ro‘yxatdan o‘tish</a></p>
      </div>
      <div class="right-side">
        <h2>Salom, do‘stim!</h2>
        <p>Saytga kirish uchun ma’lumotlaringizni kiriting.</p>
      </div>
    </div>
  </div>
</body>
</html>
